{% extends 'base.html.twig' %}

{% block body %}

    <h1>Informations Personnelles : </h1>

{% if app.user.role == "ROLE_ADMIN" %}
	    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}
{% endif %}

{% if app.user.role == "ROLE_PATIENT" %}
	    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}
{% endif %}


{% if app.user.role == "ROLE_MEDECIN" %}
	{{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}
{% if app.user.etat == false %}
<h1>Compte médecin non vérifié</h1>
{% endif %}
{% endif %}
{% endblock %}

{% block stylesheets %}

{% endblock %}
