{% extends 'base.html.twig' %}
{% block title %}Make an Appointement{% endblock %}


{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.3.2/flatpickr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.3.2/flatpickr.min.js" charset="utf-8"></script>
<script type="text/javascript">
        $(document).ready(function() {

            $('.js-datepicker').flatpickr({
                utc: true,
                enableTime: true,
                disable: ["{{ disabledDates|join(', ') }}"],
                dateFormat: "Y/m/d",
            });
        });
</script>



<div class="jumbotron">
        <div class="container">
             <h1><center>Appointement:</center> </h1>
        </div>
</div>



<div class="container">
	<div class="row">
		{{ form_start(form) }}
                    <div class="row">
                    	<div class="col-md-6">
                  		<div class="form-group">
                      {{ form_label(form.dateRDV) }}
                      {{ form_widget(form.dateRDV) }}
                  		</div>
                  	</div>
                  	</div>
                  	<div class="row">
                  		<div class="col-md-12">

                      {{ form_label(form.description) }}
                  		<div class="form-group">
                            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                  		</div>
                  	</div>
                    </div>
                    <div class="row">
                    <div class="col-md-12">
                  <input type="submit" value="Create" />
                  </div>
                  </div>

	</div>
{{ form_end(form) }}
</div>
    </div>
</div>

{% endblock %}
