{% extends 'base.html.twig' %}

{% block body %}

<div class="jumbotron">
        <div class="container">
             <h1><center>Prise de RDV :</center> </h1>



        </div>

    </div>
<div class="span3">

    <div class="container">
    {{ form_start(form) }}
         {{ form_label(form.nomPatient) }}
          {{ form_widget(form.nomPatient) }}
          {{ form_label(form.nomMedecin) }}
          {{ form_widget(form.nomMedecin) }}
          {{ form_label(form.dateRDV) }}
          {{ form_widget(form.dateRDV) }}
          {{ form_label(form.description) }}


          <div class="form-group">

            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
          </div>



        <input type="submit" value="Create" />
    {{ form_end(form) }}
    </div>
</div>

{% endblock %}
