{% extends 'base.html.twig' %}

{% block body %}
    <h1>Consultation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ consultation.id }}</td>
            </tr>
            <tr>
                <th>Nompatient</th>
                <td>{{ consultation.nomPatient }}</td>
            </tr>
            <tr>
                <th>Nommedecin</th>
                <td>{{ consultation.nomMedecin }}</td>
            </tr>
            <tr>
                <th>Idpatient</th>
                <td>{{ consultation.idPatient }}</td>
            </tr>
            <tr>
                <th>Idmedecin</th>
                <td>{{ consultation.idMedecin }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{% if consultation.dateCreation %}{{ consultation.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Daterdv</th>
                <td>{% if consultation.dateRDV %}{{ consultation.dateRDV|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('consultation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('consultation_edit', { 'id': consultation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
