{% extends 'base.html.twig' %}
{% block body %}
<script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>

<h1>Service</h1>

<table>
  <tbody>
    <tr>
      <th>Id</th>
      <td>{{ service.id }}</td>
    </tr>
    <tr>
      <th>Nom</th>
      <td>{{ service.nom }}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{ service.description }}</td>
    </tr>
    <tr>
      <th>Numtel</th>
      <td>{{ service.numTel }}</td>
    </tr>
  </tbody>
</table>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Nom</th>
    </tr>
  </thead>
  {% for medecin in medecins %}
  <tbody>
    <tr>
      <div class="container">
        <p>
          <td> <a class="btn-{{medecin.name}} btn btn-primary btn-lg">{{medecin.name}}</a></td>

        </p>
        <div class="add-panel-{{medecin.name}} panel panel-default">
          <div class="panel-body">
            <h3>{{medecin.phone}}</h3>
            <h3>{{medecin.email}}</h3>
            <div class="col-md-9 col-lg-push-3">
              <a href="/medecin/{{medecin.id}}" class="btn-add-submit btn btn-primary">Voir</a>
              <a href="/consultation/new/{{medecin.id}}/{{app.user.id}}" class="btn-add-submit btn btn-primary">Prendre RDV</a>
            </div>

          </div>
        </div>
      </div>

    </tr>
  </tbody>
  <style type="text/css">
.add-panel-{{medecin.name}} {
    display: none;
}
</style>
  <script type="text/javascript">
  $(function(){

    $(".btn-{{medecin.name}}").click(function() {
      console.log("clicked");
      $(".add-panel-{{medecin.name}}").toggle('slow')
    });

  });
  </script>
  {% endfor %}
</table>


{% endblock %}

{% block  javascripts %}



{% endblock %}
